@{
    ViewData["Title"] = "Student Form";
}




<style>
    .style {

        text-align: center;
    }

</style>

<div class="style">

    <form action="/submit-form" method="post">
        <h2>Student Information Form</h2><br />
        <label for="Name">Full Name::</label>
        <input type="text" id="Name" name="Name" required />|<br />
        <label for="ID">Student ID:</label>
        <input type="text" id="ID" name="ID" required /><br />
        <label for="Email">Email Address</label>
        <input type="email" id="Email" name="Email" required /><br />


        <label for="Gender">Gender:</label><br />
        <input type="radio" id="male" name="gender">
        <label for="male">Male</label>
        <input type="radio" id="female" name="gender">
        <label for="female">Female</label><br />


        <label for="YearLVL">Year Level:</label>

        <select name="years" id="YearLVL">
            <option value="1st">1st Year</option>
            <option value="2nd">2nd Year</option>
            <option value="3rd">3rd Year</option>
            <option value="4th">4th Year</option>
        </select><br />


        <label for="Course">Course:</label>

        <select name="course" id="Course">
            <option value="BSCS">BSCS</option>
            <option value="BSIT">BSIT</option>
            <option value="BSEMC">BSEMC</option>
        </select><br />


        <label for="aboutme">About Me:</label>
        <textarea id="aboutme" name="aboutme" rows="4" cols="50" placeholder="Who am I?"></textarea><br />

        <label for="submit">Submit</label>
        <input type="submit" id="submit" name="submit" value="Submit" />
    </form>
</div>